/* Estilos da tela de carregamento */
        #loading {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.8);
            color: #000;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            
            z-index: 1000;
            visibility: hidden; /* Inicialmente oculto */
        }
        
        html,body{
            height: 100%;
            font-family: "Poppins", sans-serif!important;
            background-color:  rgba(1, 55, 87, 1)
        }

        /* Estilos do formulário de login */
        .conteiner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            height: 100%; /* Ocupa toda a altura da janela */
            
                  
        }

        .base{
            position: absolute;
            
                    
        }
        

        .logo {
            max-width: 300px; /* Largura máxima do logo */
            height: auto; /* Mantém a proporção da imagem */
            margin-bottom: 20px; /* Espaço abaixo do logo */
        }
        
        h1 {
            margin-bottom: 20px;
            color: #333;
            
        }

        form {
            background-color: rgba(202, 232, 232, 1); /* Uma cor de fundo opcional com transparência */
            
            padding: 40px;
            border-radius: 40px;
            box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 450px;
            height: 600px;
        }

        .logos{
            font-size: 1rem;
            font-weight: 400;
            color: #212529;
            margin-top: 20px;
            padding: 0;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 10px;
            gap: 20px;
            
        
        }

        .logoleitoclean{
            display: block;
            margin: auto;
            width: 9rem;
        }

        .logoisgh{
            font-size: 1rem;
            font-weight: 400;
            color: #212529;
            width: 7rem;
            
        }

        .logohrn{
            font-size: 1rem;
            font-weight: 400;
            color: #212529;
            width: 6rem;
        }

        .separator {
        width: 1.5px; /* Define a largura do traço */
        height: 35px; /* Altura do traço, ajuste conforme necessário */
        background-color: #333; /* Cor do traço */
        }

        label {
            margin-bottom: 5px;
            color: #333232;
        }

        input {
            
            box-sizing: border-box;
            display: block!important;
            padding: 1rem !important;
            font-size: 1rem !important;
            color: #2c3e50 !important;
            transition: border 150ms cubic-bezier(0.4,0,0.2,1) !important;
            border: solid 1.5px rgba(1, 55, 87, 1) !important;
            border-radius: 0.9rem !important;
            background: rgba(255, 253, 253, 0.742) !important;
            width: 100%;
            font-family: Arial,Verdana,sans-serif;
            margin-bottom: 20px;
            
        }
        input[type="text"]::placeholder {
            text-transform: none; /* Remove o uppercase do placeholder */
            
        }
        p{
            color: red;
            margin: 0 auto !important;
            padding-top: 10px;
            
            

        }

        .uppercase {
            text-transform: uppercase; /* Transforma o texto em caixa alta */
        }

        .password-container input {
                width: 100%;
                margin-bottom: 30px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                font-size: 14px;
                border-radius: 4px;
                font-size: 14px;
                
        }
       

        .button {
            padding: 10px 10px 10px 5px!important;
            background-color:  rgba(1, 55, 87, 1);
            color: #fff;
            border: none!important;
            padding: 10px 10px 10px 5px!important;
            display: block!important;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            font-family: "Poppins", sans-serif!important;
            transition: all 0.5s ease;
            margin: 0 auto !important;
            width:200px;
            text-transform: uppercase;
            border-radius: 25px;
            box-sizing: border-box;
            
        }
        

        .button:hover {
            background-color: rgba(51, 179, 238, 0.767);
            color: #000;
        }

        
        .password-container button {
            position: absolute;
            right: 11px;
            cursor: pointer;
            padding-bottom: 25px;
            background: none;
            border: none;
            font-size: 16px;
            color: #555;
        }
        .password-container {
            position: relative;
            display: flex;
            align-items: center;
        }
    

        .footer-content {
        margin-top: auto; /* Isso empurra o rodapé para o fundo do contêiner */
        text-align: center; 
        }

        .doe {
            font-size: 15px; /* Tamanho da fonte do rodapé */
            color: #ffffff; /* Cor do texto do rodapé */
        }

        .rodape{
            font-size: 12px;
            color:  #ffffff;
            padding-bottom: 20px;
        }
