{% extends "base.html" %}

{% block content %}

<title>Detalhes do Cronograma</title>
<link rel="stylesheet" href="/static/css/cronograma.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <h2>Detalhes do Cronograma - {{ data_criacao.strftime('%d/%m/%Y') }}</h2>
        <div class="buttons">
            <button id="printButton" class="botao-imprimir">
                <i class="fas fa-print"></i> Imprimir
            </button>
            <button id="exportButton" class="botao-exportar">
                <i class="fas fa-file-export"></i> Exportar
            </button>
            <button id="voltarButton" class="botao-voltar" onclick="window.location.href='/consultar_cronogramas'">
                <i class="fas fa-arrow-left"></i> Voltar
            </button>
        </div>
        <table class="tabela-consulta">
            <thead>
                <tr>
                    <th>Prontuário</th>
                    <th>Paciente</th>
                    <th>Setor</th>
                    <th>Dias no Leito</th>
                    <th>Dias no Hospital</th>
                    <th>Número do Leito</th>
                    <th>Início no Leito</th>
                    <th>Prazo Máximo de Limpeza</th>
                    <th>Diagnóstico</th>
                </tr>
            </thead>
            <tbody>
                {% if cronograma %}
                    {% for item in cronograma %}
                        <tr>
                            <td>{{ item.prontuario }}</td>
                            <td>{{ item.paciente }}</td>
                            <td>{{ item.setor }}</td>
                            <td>{{ item.dias_no_leito }}</td>
                            <td>{{ item.dias_no_hospital }}</td>
                            <td>{{ item.numero_leito }}</td>
                            <td>{{ item.inicio_no_leito }}</td>
                            <td>{{ item.prazo_maximo_limpeza }}</td>
                            <td>{{ item.diagnostico }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">Nenhum dado encontrado para este cronograma.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
       
    </div>

    <!-- Carregar o jQuery primeiro -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Carregar o script personalizado depois -->
    <script src="/static/js/cronograma.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    

{% endblock %}